<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Fujitsu.eDoc.Integrations.VUR.Endpoint" value="https://certservices.datafordeler.dk/Ejendomsvurdering/Ejendomsvurdering/1/REST/" />
    <add key="Fujitsu.eDoc.Integrations.VUR.CertificateSerialnumber" value="5a6d9c36" />
  </appSettings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="EstateDataBroker" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9100/DataBrokerService/" binding="netTcpBinding" bindingConfiguration="EstateDataBroker" contract="Fujitsu.ExternalDataBroker.DataContracts.IEstateDataBroker" name="EstateDataBroker">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
