<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <appSettings>
    <add key="Fujitsu.eDoc.Integrations.VUR.Endpoint" value="https://certservices.datafordeler.dk/Ejendomsvurdering/Ejendomsvurdering/1/REST/" />
    <add key="Fujitsu.eDoc.Integrations.VUR.CertificateSerialnumber" value="5a6d9c36" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBeskedfordeler">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ISagStatusService">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ISagsbehandlingService">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IKonfiguration1">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding closeTimeout="00:01:00" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647" name="DataBrokerBinding" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transactionProtocol="OleTransactions" transferMode="Buffered">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="32" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
          <reliableSession enabled="false" inactivityTimeout="00:10:00" ordered="true" />
          <security mode="Message">
            <message clientCredentialType="Windows" />
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="https://service-es.bygogmiljoe.dk/BeskedfordelerV2.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBeskedfordeler" contract="BOMBeskedfordeler.IBeskedfordeler" name="WSHttpBinding_IBeskedfordeler" />
      <endpoint address="https://service-es.bygogmiljoe.dk/SagStatusV2.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISagStatusService" contract="BOMSagStatus.ISagStatusService" name="WSHttpBinding_ISagStatusService" />
      <endpoint address="https://service-es.bygogmiljoe.dk/SagsbehandlingV5.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISagsbehandlingService" contract="BOMSagsbehandling.ISagsbehandlingService" name="WSHttpBinding_ISagsbehandlingService" />
      <endpoint address="https://service-es.bygogmiljoe.dk/KonfigurationV6.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IKonfiguration1" contract="BOMKonfigurationV6.IKonfiguration" name="WSHttpBinding_IKonfiguration1" />

      <endpoint address="net.tcp://localhost:9100/DataBrokerService/" binding="netTcpBinding" bindingConfiguration="DataBrokerBinding" contract="Fujitsu.ExternalDataBroker.DataContracts.IPersonDataBroker" name="PersonDataBroker">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:9100/DataBrokerService/" binding="netTcpBinding" bindingConfiguration="DataBrokerBinding" contract="Fujitsu.ExternalDataBroker.DataContracts.ICorporateDataBroker" name="CorporateDataBroker">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:9100/DataBrokerService/" binding="netTcpBinding" bindingConfiguration="DataBrokerBinding" contract="Fujitsu.ExternalDataBroker.DataContracts.IEstateDataBroker" name="EstateDataBroker">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>