<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fujitsu.eDoc.Core.DLL" version="5.1.39.14000" targetFramework="net461" />
  <package id="Fujitsu.eDoc.Integrations.DLL" version="5.1.40.14294" targetFramework="net461" />
  <package id="Fujitsu.ExternalDataBroker.DataContracts.DLL" version="5.1.39.13995" targetFramework="net461" />
  <package id="Fujitsu.ExternRegister.DLL" version="5.1.39.14000" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
</packages>